spring:
  application:
    name: backend

  config:
    import: optional:classpath:application-env.properties

  datasource:
    url: jdbc:mysql://localhost:3306/goormdb
    username: root
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080
