spring:
  application:
    name: backend

  config:
    import: optional:classpath:application-env.properties

  datasource:
    url: jdbc:mysql://localhost:3306/goormdb
    username: root
    password: ${DB_PASSWORD}

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

server:
  port: 8080

springdoc:
  api-docs:
    path: /api/v3/api-docs
  swagger-ui:
    config-url: /api/v3/api-docs/swagger-config
    url: /api/v3/api-docs
    path: /api/swagger-ui.html

gemini:
  api:
    key: ${GEMINI_API_KEY}
    url: "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent"

cloud:
  aws:
    credentials:
      access-key: ${AWS_ACCESS_KEY_ID}
      secret-key: ${AWS_SECRET_ACCESS_KEY}
    region:
      static: ap-northeast-2
    s3:
      bucket: goormthon-1
